MONGODB_URI=mongodb+srv://<db_user>:<password>@resumeai.ur6gqat.mongodb.net
NEXTAUTH_SECRET=next-auth-secret
NEXTAUTH_URL=http://localhost:3000
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GEMINI_API_KEY=
NEXT_PUBLIC_APP_URL=http://localhost:3000